<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/Test.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
    </div>
    {{>footer}}
</body>
</html>